<h1><%= @resource.title %></h1>


<ul>
  <li>Name: <%= @resource.title %></li>
  <% if @resource.folders.present? %>
    <% @resource.folders.each do |l| %>
    <li><%= l.name %></li>
    <% end %>
  <% end %>
</ul>

<div class="controls">
  <%= link_to "Edit Resources", edit_resource_path(@resource) %>
  <%= link_to "Delete Resources", @resource, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
